body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #dcfbde,#bcfbc0,#a7fbad,#99ffa0,#84ff8c ); /* Gradient from #bfbfbf to #ffffff */
}


.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent white background */
  border-radius: 8px;
  border: 5px solid rgba(255, 255, 255, 0); /* Transparent white border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left; /* Align text left within form groups */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
button {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #00a00b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
}
